<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <title>Social Login</title>
  </head>

  
  <body>
    <h1>HELLO! WELCOME TO MY TEST PAGE</h1>
    <h2 class="pt-5">social login Test</h2>
    
    <!-- naver -->
    <a href="/api/users/login/naver">
      <button class="btn btn-primary">네이버</button>
    </a>
    
    <!-- kakao -->
    <a href="/api/users/login/kakao">
      <button class="btn btn-primary">카카오</button>
    </a>
    
    <!-- google -->
    <a href="/api/users/login/google">
      <button class="btn btn-primary">구글</button>
    </a>
    
    <!-- facebook -->
    <a href="/api/users/login/facebook">
      <button class="btn btn-primary">페이스북</button>
    </a>
    



    <script>
      
    </script>
  </body>
</html>
